@model dynamic
@{
    ViewData["Title"] = "Blog - Welcome";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Blog</h1>
        <p class="lead">
            Discover engaging posts that inspire action, spark curiosity, and share fresh perspectives. From helpful guides to deep dives into fascinating topics, every post is crafted to add value to your day.

            Start your journey below!
        </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Login" role="button">See more</a>
    </div>
</div>